<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>About page</title>
</head>
<body>
    <header id="head">
        <h1>Black Lives Matter</h1>
        <hr>
        <h2>Stay Home Stay Safe</h2>
    </header>
    <nav id="navbar">
        <h1>S News</h1>
        <ul class="menuul">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/Topnews">Top News</a></li>
            <li><a href="/feedback">feedback</a></li>
            <li><a href="/contactus">Contact us</a></li>
        </ul>
    </nav>
    <div id="abpage">
        <h1> about page </h1>
    </div>
    <div id="belpage">
        <div id="card1">
            <h2>company logo</h2>
        </div>
        <div id="card2">
            <h2>company description</h2>
        </div>
    </div>
    <div id="container">
        <h1>anything here</h1>
    </div>
</body>
</html>