<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="topnews.css">
    <title>topnews</title>
</head>

<body>
    <header id="head">
        <h1>Black Lives Matter</h1>
        <hr>
        <h2>Stay Home Stay Safe</h2>
    </header>
    <nav id="navbar">
        <h1>S News</h1>
        <ul class="menuul">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/Topnews">Top News</a></li>
            <li><a href="/feedback">feedback</a></li>
            <li><a href="/contactus">Contact us</a></li>
        </ul>
    </nav>
    <div id="box1">
        <h1>Delhi's Air Quality May Turn "Poor" By October 2: Government Forecast</h1>
        <p>Press Trust of India | Wednesday September 30, 2020, New Delhi
            The national capital's air quality was recorded in the 'moderate' category this morning, while a government
            forecasting agency said it is likely to turn 'poor' by Friday.</p>
        <div id="img">
            <img src="https://c.ndtvimg.com/2019-10/olgjol88_delhi-pollution-pti-2019-240_120x90_30_October_19.jpg"
                alt="img1">
        </div>
    </div>
    <div id="box2">
        <h1>Video: UP Woman's Family Threw Themselves On Ambulance To Stop Cremation</h1>
        <p>Edited by Deepshikha Ghosh | Wednesday September 30, 2020, Hathras, Uttar Pradesh
            As the Uttar Pradesh police drove to a funeral ground to cremate the 20-year-old woman who had died after her gang-rape and torture, her family, relatives and villagers made many attempts to stop them..</p>
        <div id="img">
            <img src="https://c.ndtvimg.com/2020-09/hnm8nk98_hathras-gangrape-victim-family-in-front-of-ambulance-september-2020-_240x180_30_September_20.jpg"
                alt="img1">
        </div>
    </div>
    <div id="box3">
        <h1>Gandhi Jayanti 2020: Gujarat Boy Goes For COVID-19 Test Dressed As Bapu</h1>
        <p>Edited by Debjani Chatterjee | Wednesday September 30, 2020, Rajkot, Gujarat
            Mahatma Gandhi Jayanti: Ahead of Gandhi Jayanti on Saturday, a ten-year-old boy in Rajkot dressed up as Mahatma Gandhi and went for his COVID-19 test. The boy said, he wants to spread awareness about the importance of getting tested and there is nothing to fear about it.</p>
        <div id="img">
            <img src="https://c.ndtvimg.com/2020-09/fie5086o_gandhi_120x90_30_September_20.jpg"
                alt="img1">
        </div>
    </div>
    <div id="box4">
        <h1>"Yogi Adityanath, Resign": Priyanka Gandhi Vadra Lashes Out Over Hathras</h1>
        <p>Edited by Deepshikha Ghosh | Wednesday September 30, 2020, New Delhi
            Congress leader Priyanka Gandhi Vadra, amid national outrage over the dead-of-night cremation by Uttar Pradesh police of the woman who died of horrific injuries after being gang-raped and tortured, said Chief Minister Yogi Adityanath had "no moral right" to continue in office.</p>
        <div id="img">
            <img src="https://c.ndtvimg.com/2020-06/gkeu079c_priyanka-gandhi-vadra-facebook-live-pti-_120x90_09_June_20.jpg"
                alt="img1">
        </div>
    </div>
    <div id="box5">
        <h1>"Our Own George Floyd Moment": India Outraged Over UP Cops' Hathras Move</h1>
        <p>Edited by Shylaja Varma | Wednesday September 30, 2020, New Delhi
            The death of a 20-year-old woman after she was gang-raped and tortured in Uttar Pradesh's Hathras continues to evoke anger and grief across the country. The woman, who died on Tuesdayin Delhi, was cremated by policemen in her village last night, allegedly as her family was locked up in their home.</p>
        <div id="img">
            <img src="https://c.ndtvimg.com/2020-09/02gelma_hathras-funeral-rape-victim_120x90_30_September_20.jpg"
                alt="img1">
        </div>
    </div>
</body>
<script>

</script>

</html>